/* General Styles */

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

.container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-around;
}

/* Header */
#top-nav {
  display: flex;
  background-color: #1a1a1a;
  justify-content: space-around;
  align-items: center;
  height: 69px;
}

#logo {
  height: 90%;
  padding-bottom: 10px;
}

#contact-num {
  background-color: rgb(133, 132, 132);
  color: white;
  padding: 10px 30px;
  text-align: center;
}

/* Nav */

#nav-links {
  display: flex;
  color: #f76904;
}

#nav-links li {
  list-style: none;
  margin: 20px;
}

#nav-links a {
  text-decoration: none;
  color: #f76904;
}

/* Splash */

#splash {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 700px;
  background-image: url("./imgs/Moving\ Van\ With\ Furniture.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#splash-msg {
  font-size: 2.5rem;
  text-shadow: 2px 2px #b4b4b4ab;
}

/* Moving Form */

#moving-form {
  background-color: rgb(235, 235, 235);
  padding: 20px;
  box-shadow: 2px 2px 10px rgb(136, 136, 136);
}

input[type="text"],
input[type="date"],
select {
  padding-left: 10px;
}

input,
select {
  width: 320px;
  height: 30px;
  border: 1px solid rgba(136, 136, 136, 0.815);
}

label {
  color: rgb(90, 90, 90);
}

#move-btn {
  background-color: #f76904;
  border-radius: 5px;
  color: white;
  width: 200px;
  padding: 15px;
  margin-top: 10px;
  border: none;
}

#move-btn:hover {
  background-color: #9c4201;
  cursor: pointer;
}

/* Mission */

#mission {
  margin: 40px auto;
}

#mission h1 {
  font-size: 2rem;
  color: gray;
  margin-bottom: 15px;
}

p {
  line-height: 1.5rem;
}

/* Gallery */

#gallery {
  margin-left: 100px;
}

#pics {
  display: flex;
}

.pic {
  width: auto;
  height: 200px;
  margin-right: 10px;
}

/* Services */

#services {
  display: inline-flex;
  justify-content: space-around;
  padding: 100px 0;
  background: rgb(204, 85, 0);
  width: 100%;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service p {
  width: 200px;
}

.service i {
  color: white;
  font-size: 6rem;
  margin-bottom: 25px;
}

.service h1 {
  font-size: 2rem;
  color: white;
}

/* Footer */

footer {
  width: 100%;
  background-color: #1a1a1a;
  color: white;
}

footer h4 {
  color: rgb(196, 194, 194);
  margin-bottom: 10px;
}

footer section {
  margin: 0 auto;
  padding: 40px 0;
}

/* Responsive */

@media only screen and (max-width: 1230px) {
  #mission {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }

  #mission-statement {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 1100px) {
  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  #gallery {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 800px) {
  #splash-msg {
    display: none;
  }

  #pics {
    flex-direction: column;
  }

  .pic {
    width: 100%;
    height: auto;
  }

  .service-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service {
    margin-bottom: 40px;
  }
}
