/* General Styles */

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

/* Header */
#top-nav {
  display: flex;
  background-color: #1a1a1a;
  justify-content: space-around;
  align-items: center;
  height: 69px;
}

#logo {
  height: 90%;
  padding-bottom: 10px;
}

#contact-num {
  background-color: rgb(187, 186, 186);
  color: white;
  padding: 10px 30px;
  font-size: 0.8rem;
}

/* Nav */

#nav-links {
  display: flex;
  color: #cc5500;
  font-size: 1.2rem;
}

#nav-links li {
  list-style: none;
  margin: 20px;
}

/* Mission */

#mission {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 700px;
  background-image: url("./imgs/Moving\ Van\ With\ Furniture.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#mission h1 {
  background-color: rgba(173, 173, 173, 0.87);
  padding: 15px;
}
