/* General Styles */

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

.container {
  display: flex;
  width: 1000px;
  justify-content: space-around;
}

/* Header */
#top-nav {
  display: flex;
  background-color: #1a1a1a;
  justify-content: space-around;
  align-items: center;
  height: 69px;
}

#logo {
  height: 90%;
  padding-bottom: 10px;
}

#contact-num {
  background-color: rgb(133, 132, 132);
  color: white;
  padding: 10px 30px;
  font-size: 0.8rem;
}

/* Nav */

#nav-links {
  display: flex;
  color: #cc5500;
}

#nav-links li {
  list-style: none;
  margin: 20px;
}

/* Splash */

#splash {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 700px;
  background-image: url("./imgs/Moving\ Van\ With\ Furniture.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#splash-msg {
  font-size: 2.5rem;
  text-shadow: 2px 2px #b4b4b4ab;
}

/* Moving Form */

#moving-form {
  background-color: rgb(231, 231, 231);
  padding: 20px;
}

input,
select {
  width: 320px;
  height: 30px;
}

#move-btn {
  background-color: #cc5500;
  border-radius: 5px;
  color: white;
  width: 200px;
  padding: 15px;
  margin-top: 10px;
}

#move-btn:hover {
  background-color: #9c4201;
  cursor: pointer;
}

::placeholder {
  padding-left: 10px;
}

/* Mission */

#mission {
}

#mission h1 {
  background-color: rgba(173, 173, 173, 0.87);
  padding: 15px;
}
